
.home-page-projects {
  max-width: var(--layout-maxw);
  margin: 5vh auto 0;
  padding: 5vh 40px;
  border-top: 1px solid var(--c-primary);
}

.nok-project {
  /* height changes the after element */
  --exp-height: 40px;
  --exp-width: 80%;
  /* width changes how much of the layout width is used */
  --default-width: 100%;
  /* 
  this isn't used:
  --exp-width: 100%; */
}

.nok-projects-wrapper {
  /* background: red; */
  position: relative;
  animation: main-projects;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes main-projects {
  0% {
    top: 200px;
    opacity: 0.3;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.nok-project {
  /* min-height:70vh; */
  margin: 10vh auto 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: var(--default-width);
  position: relative;

}

/* .nok-project:nth-child(even):after {
  left: auto;
  right: -20px;
}
 */


 .project-img-wrapper {
  flex: 2 2; /* let image width specify the size of the wrapper*/
  position: relative;
}



.project-img-wrapper:after {
  
  position: absolute;

  bottom: calc(-20px);
  z-index: -1;
  /*
  z-index: 100;
  mix-blend-mode: multiply;
  */
  
  background: var(--c-primary);
  content: " ";
  left: -20px;

  height: var(--exp-height);
  width: var(--exp-width);

}


.nok-project.is_expanded {
  width: 100%;
}


.nok-project:nth-child(even) {
  flex-direction: row-reverse;
}

.nok-project:nth-child(even) .project-img-wrapper{
 
}
.nok-project:nth-child(even) .project-img-wrapper:after{

  width: var(--exp-height);
  height: var(--exp-width);

  left: auto;
  right:-20px;
  
}



/* .project-img {
  width: 450px;
  max-width: 100%;
  height: auto;
  display: block;
} */

.nok-project-heading {
  color: var(--c-primary);
  font-size:var(--fs-project-heading);
  padding:0;
  line-height:1;
}


.nok-project-text {
  flex: 1 2 300px;
  /* height: var(--exp-height); */
  /* color:var(--c-text-secondary); */
  color: var(--c-primary);
  align-self: flex-end;
  padding:0 2em;
}



.nok-project-text-copy {
  /* padding: 0 1em 2em; */
  padding:1em 0 ;
  
}


.nok-project:nth-child(even) .nok-project-text-copy {
  /* padding-left:5em; */
}








.home-page-projects-filter {
}



.projects-filter-headline {
  text-align: center;
  font-size: var(--fs-section-headline);
  text-transform: uppercase;
  color: var(--c-primary);
}
.projects-filter-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-filter-item {
  /* text-transform: uppercase; */
  display: inline-block;
  padding: 0.5em 2em;
}

.chosen {
  border-bottom: 3px solid var(--c-primary);
}
