
.home-page{
    min-height:calc(calc(100vh - var(--header-height)) - 4px);
    padding-top: 5em;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  
}
.home-page-links{

  font-size:var(--fs-links);
  text-decoration:line-through;
  text-decoration-color:white;
  /* opacity: .1; */
  text-align: center;
}
.home-page-link{
  color:white;
}
.home-page-mail-link{
  color:white;
 font-size: var(--fs-contact-small);
}
.home-page-contact{
  font-size: var(--fs-contact);
  color:white;
  text-align: center;
}
.home-page-contact-headline{
  font-size: var(--fs-links);
  margin-top:1em;
  margin-bottom:1em;
}
.home-page-contact-details{}

