.work-page {
    max-width: var(--layout-maxw);
    margin: var(--layout-mt) auto var(--layout-mb);
}

.work-page-heading {
    text-align: center;
    font-size: var(--fs-page-headline);
    /* margin-top:var(--fs-page-headline-mt); */
    text-transform: uppercase;
}
  

.work-page-projects {
  /* margin-top: var(--fs-page-headline-content-space); */
} 