:root {
  --ff-primary: ;
  --fs-hero: 6vw;
  --fs-section-headline: 3vw;
  --fs-navigation: 2.5vw;
  --fs-body: 2vw;
  --c-primary: rgb(168, 28, 28);
  --c-text: black;
  --c-secondary: black;
  --c-secondary-accent: white;
  --header-height: ;
  --header-width: ;
  --c-header: ;
}
