.contact-page{

    max-width:var(--layout-maxw);
    margin:var(--layout-mt) auto 0;
    color:var(--c-primary);
    padding:5vh 40px;
}


.contact-page-headline{
    font-size:var(--fs-section-headline);
}

.contact-page-detail{
  
}

.contact-address{
  margin-top:1em;
  font-style: normal;
}
.contact-page-detail a{
 text-decoration: underline;
 color:var(--fs-primary);
}


.social-headline,
.contact-page-primary-details,
.social-links{

  margin-top:2em;

}