.contact-page{

    max-width:var(--layout-maxw);
    margin:0 auto;
    padding-top: var(--layout-mt);
    min-height: calc(calc(100vh - var(--header-height)) - 4px);
    color:var(--c-primary);
    /* padding:5vh 40px; */
    text-align: center;
    color:white;
}



.contact-page-headline{
  text-transform: uppercase;
  text-align: center;
  font-size:var(--fs-page-headline);
}


.contact-page-detail,
.contact-address,
.contact-page-primary-details{
  margin-top: var(--fs-page-headline-content-space);
  font-size: var(--fs-contact);
}



.contact-address{
  font-style: normal;
}


.contact-page-detail a{

}

.contact-page-email{
  display: inline-block;
  margin-top: 2em;
  text-decoration: underline;
  color:var(--fs-primary);
}
