/* .project {
  width: 100%;
  margin-top: 20px;
} */
.projectsImage {
  max-width: 100%;
  border-radius: 5px;
}

.projectsImage::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: "";
}

/* .projectText {
} */
.project {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
  /* background-color: #2196f3; */
  margin-bottom: 10em;
  /* padding: 10px; */
  justify-content: center;
}
