:root {
  --ff-primary: "Roboto Mono";
  --fs-hero: 32px;
  --fs-section-headline: 20px;
  --fs-navigation: 35px;
  --fs-body: 18px;
  --c-primary: #a0191e;
  --c-text: #000105;
  --c-secondary: #000105;
  --c-secondary-accent: white;
  --header-height: 55px;
  --header-width: 100%;
  --c-header: #c4c4c4;
}
/* .ImageElement {
  position: relative;
  top: -2vw;
  left: -2vw;
  box-shadow: 2vw 2vw firebrick;
} */
.project {
  box-sizing: border-box;
  background-color: var(--c-primary);
  display: grid;
  /* grid-template-columns: 50% 50%; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0px;
  justify-content: center;
  margin: 4vw 4vw 4vw 4vw;
}
.projectsImageLeft {
  position: relative;
  top: -2vw;
  left: -2vw;
}
.projectsImageRight {
  position: relative;
  top: -2vw;
  left: 2vw;
}

/* .projectInfo {
} */
.closeLineLeft {
  display: block;
  width: 100%;
  text-align: right;
}
.closbtnProjectLeft {
  font-size: var(--fs-section-headline);
  background-color: var(--c-primary);
  cursor: pointer;
  color: var(--c-text);
  padding: 5px 10px;
  border: none;
  font-size: var(--fs-section-headline);
}
.closbtnProjectLeft:active {
  outline: none;
  border: none;
}
.closbtnProjectLeft:focus {
  outline: 0;
}
.closbtnProjectLeft:hover {
  text-shadow: 0 0 3px var(--c-primary), 0 0 3px var(--c-secondary);
}

.projectTextLeft {
  padding: 2vw;
  color: var(--c-secondary-accent);
  /* align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
  /* position: absolute;
  bottom: 0; */
}

.closeLineRight {
  display: block;
  width: 100%;
  text-align: left;
}
.closbtnProjectRight {
  font-size: var(--fs-section-headline);
  background-color: var(--c-primary);
  cursor: pointer;
  color: var(--c-text);
  padding: 5px 10px;
  border: none;
}
.closbtnProjectRight:active {
  outline: none;
  border: none;
}
.closbtnProjectRight:focus {
  outline: 0;
}
.closbtnProjectRight:hover {
  text-shadow: 0 0 3px var(--c-primary), 0 0 3px var(--c-secondary);
}
.projectTextRight {
  padding: 2vw;
  color: var(--c-secondary-accent);

  /* align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
  /* position: absolute;
  bottom: 0; */
}

/* this class add linear gradient to the image */
/* .projectsImage::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: "";
} */
