/* .ImageElement {
  position: relative;
  top: -2vw;
  left: -2vw;
  box-shadow: 2vw 2vw firebrick;
} */
.projectsImageLeft {
  position: relative;
  top: -2vw;
  left: -2vw;
}
.projectsImageRight {
  position: relative;
  top: -2vw;
  left: 2vw;
}

.projectText {
  padding: 2vw;
}
.project {
  box-sizing: border-box;
  background-color: firebrick;
  display: grid;
  /* grid-template-columns: 50% 50%; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0px;
  justify-content: center;
  margin: 2vw 2vw 4vw 2vw;
}

/* this class add linear gradient to the image */
/* .projectsImage::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: "";
} */
