.footer-main{
    margin-top:30vh;

    background-color:var(--c-primary);
    padding: 1em;
    text-align: right;
    font-size: var(--fs-footer);  
}

.copy-right{
    color:white;
      
    
}
.copy-right a{
    color: white;
    text-decoration: underline;
}

@media (max-width: 575.98px) {
    .footer-main{
        font-size: var(--fs-footer-mobile);  
    }
}