:root {



    --layout-maxw:1040px;
    --layout-mt:10vh;

    
    --ff-primary: "Roboto Mono";
    --fs-hero: 56px;
    --fs-section-headline: 32px;
    --fs-navigation: 56px;
    --fs-body: 20px;


    --c-primary: #a0191e;
    --c-text: #000105;
    --c-text-secondary: #fff;

    --c-secondary: #000105;
    --c-secondary-accent: #fff;
    
    
    --header-height: 100px;
    --header-width: 100%;
    --c-header: #fff;

    --c-linear: linear-gradient(180deg, #e47f54 0%, #e2719f 100%);
  
}

body{
    font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--fs-body);

}