.header-main{

    height:var(--header-height);
    width:var(--header-width);
    background-color: var(--c-header);
    position: sticky;
    top:0;
    z-index:1000;
    /* display:flex;
    align-items: center;
    justify-content: center; */
}

.header-content{
    position: relative;
    z-index:5000;
}
.header-logo{
    /* margin-left: auto; */
    /* display: block; */
    width: 100%;
    
    text-align: center;
    /* padding-top: calc(calc(var(--header-height) - var(--header-logo-height))/2)} */
    /* padding:var(--header-logo-ptb); */
    
    
    
    height: var(--header-height);
    background-image:var(--header-logo-svg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: auto var(--header-logo-height);
     
}
.header-logo-link{
    text-indent: -99999px;
    display: inline-block;
    min-width:60px;
}
.header-logo img{

    width:var(--header-logo-width);
    height:var(--header-logo-height);
    
}

.nav-toggle{
    position: absolute;    
    top:0;
    right:20px;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}


.nav-toggle-button{
    cursor: pointer;
    height:var(--nav-icon-size);
    width:auto;
    /* transition: transform .2s; */
}


.nav-toggle-button.is_open{
    /* transform:rotate(180deg); */
    /* transform-origin: center; */
}







.nav-toggle-button-line-one{
    transform:translate(0, 3px);
    transform-origin: center;
    transition: transform .3s;
    stroke-width: 3px;
  }
  .nav-toggle-button-line-two{
    transform:translate(0, -3px);
    transform-origin: center;
    transition: transform .3s;
    stroke-width: 3px;
    
  }



.nav-toggle-button:hover .nav-toggle-button-line-one{   
    transform:translate(0, 6px);
}
.nav-toggle-button:hover .nav-toggle-button-line-two{   
    transform:translate(0, -6px);
}



/* CLOSE ICON */
  .is_open .nav-toggle-button-line-one{
    /* transform:translate(0, 0px) rotate(225deg); */
    transform:translate(0, 0px) rotate(225deg);
    
  }
  .is_open .nav-toggle-button-line-two{
    transform:translate(0, 0px) rotate(-45deg);
  }
  

.nav-toggle-button.is_open:hover .nav-toggle-button-line-one{   
    transform:translate(0, 0)  rotate(-45deg);
}
.nav-toggle-button.is_open:hover .nav-toggle-button-line-two{   
    transform:translate(0, 0) rotate(225deg);
}