.header-main{

    height:var(--header-height);
    width:var(--header-width);
    background-color: var(--c-header);
    display:flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    /* position: relative; */
    z-index:5000;
}

.nav-toggle{
    position: absolute;
    
    top:0;
    right:20px;
    height:var(--header-height);
    display:flex;
    align-items: center;
    justify-content: center;

}
.nav-toggle-button{
    cursor: pointer;
}