:root{

  --fs-hero-cta:56px;
  --fs-hero-close-btn:16px;


}

.home-page-hero {
  width: 100%;
  min-height:80vh;
  

  text-align: center;
  font-family: "Roboto Mono";

  z-index: 20;
  

  /* background:yellow; */

}

.hero-loop{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100%;
  height:80vh;
  position: absolute;



}
.hero-statement{

  --minFontSize: 32px;
  --maxFontSize: 72px;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );

}
.hero-copy {
  box-sizing: border-box;
  
  font-size: 56px;
  color: var(--c-primary);
  font-weight: 400;
  position: absolute;
  z-index: 20;
}

.hero-close{
  text-align: right;
}
.hero-close-link{
  font-size: var(--fs-hero-close-btn);
  /* font-weight:700; */
  color: var(--c-primary);
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  padding: 1em;
}


.hero-cta-link {
  --fs-hero-cta : 32px;
  padding-top:56px;
  font-size: var(--fs-hero-cta);
  font-weight:700;
  margin-top: 1em;
  color: var(--c-secondary-accent);
  text-decoration: underline;
  cursor: pointer;
}

.hero-cta-link:hover {
  color: var(--c-primary);
  
  /* text-decoration: stroke; */
}



.hero-background {
  /* background: url("https://res.cloudinary.com/fifteennine/image/upload/v1583273786/lab/water.jpg")  */
    /* no-repeat center; */
    background-size: cover;
    /*   background:#A0191E; */
    width: 100%;
    height: 80vh;
    position: absolute;

  clip: rect(
    var(--clip-top),
    var(--clip-right),
    var(--clip-bottom),
    var(--clip-left)
  );
  will-change: clip;
  transition: clip 0.75s ease-out;
  transition-delay: 0;

  
  display: flex;
  align-items: center;
  justify-content: center;
 
  
  /*   transform:translate(var(--mx), 0); */

  
}



@media (max-width: 575.98px) {


.hero-background {
  

  clip: rect(
    var(--clip-top-mobile),
    var(--clip-right-mobile),
    var(--clip-bottom-mobile),
    var(--clip-left-mobile)
  );
}
}


.hero-loopplayer{
    width: 100%;
    height:100%;
    object-fit: cover;
    
}

.hero-showreel{
    
    /* top:0;
    left:0;
    width:100%;
    height:100%;

    max-height:80vh;
     */
     align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    min-height: 80vh;
    /* background:var(--c-secondary); */
}


.hero-videoplayer{
    width:auto;
    height:auto;
    /* max-width: var(--hero-video-maxw); */
    max-height: 80vh;
    max-width: 100%;
    
}

.hero-videoplayer:focus{
    outline:0;
}




.hero-loop,
.hero-showreel{
  transition: all .4s ease-out;
}
.hero-loop.is_playing{
  opacity:1;
}
.hero-loop.is_hidden{
  opacity:0;
  pointer-events: none;
}
.hero-loop.is_hidden .hero-background{
  
}
.hero-showreel.is_playing{
  opacity:1;
  transform:scale(1);
}
.hero-showreel.is_hidden{
  opacity:0;
  transform:scale(.85);
}