.navLine {
  width: 100%;
  background-color: #111;
}
.openbtn {
  font-size: 20px;
  background-color: #111;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
  text-align: left;
}
.openbtn:hover {
  cursor: pointer;
}
.openbtn:active {
  outline: none;
  border: none;
}
.openbtn:focus {
  outline: 0;
}
.sidebar .sidebarLink:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar .sidebarLink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: ease 0.5s;
}

.sidebar {
  width: 0px;
  transition: ease 0.5s;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
.is-active {
  width: 250px;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar .sidebarLink {
    font-size: 18px;
  }
}
